@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Oleo+Script:wght@400;700&family=Oswald:wght@389&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}

:root {
  --ng-nav-menu: #F5F3F5;
  --bg-body: #FEFEFE;
  --bg-buttons: #8270FA;
  --color-barra: #BFB8F9;
  --color-border: #d3cdcd;
}

html {
  font-size: 16px;
  width: 100%;
}

body {
  width: 100%;
  background-color: var(--bg-body);
}


/* sytyeles for all */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border-style: none;
  background-color: transparent;
}

span {
  display: flex;
}


/* styles for main nav */
.nav-menu {
  width: 20%;
  position: fixed;
  height: 100vh;
  background-color: var(--ng-nav-menu);
  z-index: 1000;
}


.nav-interface {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  position: relative;
  max-width: 300px;
}

.dw-user {
  padding: 1rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.img-user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-name {
  font-size: 1rem;
}

.nav-link {
  width: 95%;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  display: flex;
  display: flex;
  align-items: center;
  gap: 1.5rem;

}

.span-text {
  font-size: 0.9rem;
  color: #000;
}

.nav-link .material-symbols-outlined {
  font-size: 2rem;
}

.dw-settings {
  position: absolute;
  bottom: 2%;
  width: 100%;
}

.dw-settings {
  flex-direction: column;
  width: 100%;
}

.setitings-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

ul,
li {
  width: 100%;
}

.setitings-link {
  font-size: 1rem;
  padding: 0.5rem 0;
  width: 100%;
  display: flex;
  margin: 0.5rem 0;
}

.button-theme {
  padding: 1rem 0;
  width: 80%;
  margin-top: 2rem;
  background: var(--bg-buttons);
  color: #fff;
}



/* styles for main */

.main-interface {
  margin-left: 20%;
  width: 80%;
  height: 100px;
}


/* styles for all */

.section-geral {
  width: 90%;
  margin: 0 auto;
  max-width: 1600px;
}

.header {
  width: 100%;
}

.face-header {
  width: 100%;
  display: grid;
  padding: 1rem 0;
  grid-template-columns: 1fr 2fr;
}

.nav-header {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  gap: 1rem;
}

.button-nav {
  background: transparent;
}

.button-nav .material-symbols-outlined {
  font-size: 1.5rem;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  border: 1px solid var(--color-border);
}

.Welcome {
  font-size: 1rem;
}

.text-welcome {
  font-size: 0.9rem;
}

.dw-user-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dw-button-add {
  display: none;
}


/* syles for all aside navbars */

.aside-navbars {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 0;
}

.dw-month {
  display: flex;
  gap: 1rem;
}

.calendar_month,
.button-month {
  background: transparent;
  border: 1px solid var(--color-border);
}

.calendar_month {
  padding: 0.5rem;
  border-radius: 50%;
}


.calendar_month .material-symbols-outlined {
  font-size: 1.5rem;
}

.button-month {
  width: 40%;
  padding: 0.2rem 0;
  border-radius: 30px;
  font-size: 1rem;
}

.button-month span {
  font-size: 0.9rem;
}

.dw-add {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  gap: 1rem;
}

.add-button-add {
  background: var(--bg-buttons);
  color: #fff;
  padding: 0.5rem 0;
  border-radius: 30px;
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.add-button-add .material-symbols-outlined {
  font-size: 1.5rem;
}

.add-span-text {
  font-size: 0.9rem;
}

/* styles for all aside balance*/

.aside-balance {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.dw-balance {
  border: 1px solid var(--color-border);
  padding: 1rem 0;
  border-radius: 10px;

}

.face-balance {
  width: 90%;
  margin: 0 auto;
}


.fisrt-balance,
.three-balance {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.5rem 0;
}

.text-balance {
  display: flex;
  gap: 0.2rem;
}

.second-balance {
  display: flex;
  padding: 0.5rem;
}


.second-balance span {
  font-size: 2rem;
  font-weight: bolder;
}

.dw-button-balance {
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

.dw-button-balance button {
  background: transparent;
}

.dw-button-balance button .material-symbols-outlined {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid var(--color-border);
}

.pr-p-balance {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}


.text-p-balance {
  font-size: 0.8rem;
}

.dw-button-pr button {
  background: transparent;
  padding: 0.2rem 0;
  width: 80%;
  border: 1px solid var(--color-border);
  border-radius: 30px;

}

/* styles for all aside graficos */

.aside-graphic {
  width: 100%;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  padding: 1rem 0;
  gap: 1rem;
}

.dw-mind,
.dw-found {
  border: 1px solid var(--color-border);
  padding: 1rem 0;
}

.face-graphic {
  width: 95%;
  margin: 0 auto;
}

.header-garphic {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}


.first-dw-graphic {
  align-items: center;
  justify-content: start;
  display: flex;
}

.first-dw-graphic h2 {
  font-size: 1rem;
}

.second-dw-graphic {
  align-items: center;
  justify-content: flex-end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.btt-face-all,
.btt-face-year {
  padding: 0.5rem 0;
  display: flex;
  background-color: transparent;
}

.btt-face-all,
.btt-face-year {
  background: transparent;
  border: 1px solid var(--color-border);
  border-radius: 30px;
}

.face-btt-graphic {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.ponto {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.firt-ponto {
  background-color: var(--bg-buttons);
}

.second-ponto {
  background-color: var(--color-barra);
}

.text-btt-span {
  font-size: 0.8rem;
}

.dw-ponts-mobile {
  display: none;
}


/* face for muy buttonm graphic */

.face-btt-graphic {
  width: 90%;
  margin: 0 auto;
}


.fisrt-graphic {
  width: 100%;
  position: relative;
  height: 200px;
  padding: 1rem 0;
}

.dw-barras {
  width: 100%;
}

.dw-barras,
.dw-barras-pr {
  position: absolute;
  height: 100%;
}

.ul-barras {
  width: 100%;
}

.li-barras {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  display: flex;
  border-top: 1px solid var(--color-border);
}

.dw-barras-pr {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 100%;
  width: 80%;
  margin-left: 20%;
  align-items: center;
  justify-content: flex-end;
}

.lines-barras {
  width: 80%;
  height: 100%;
}

.aside-lines-barras {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-end;
  width: 100%;
  height: 80%;
}

.line-barras-span,
.line-barras-spanTwo {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 80%;
}

.line-barras-span {
  background-color: var(--bg-buttons);
}

.line-barras-spanTwo {
  background-color: var(--color-barra)
}

.aside-text-barras {
  height: 20%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.aside-text-barras span {
  font-size: 0.8rem;
}


.dw-title-graphic,
.dw-ul-analictics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 0.5rem 0;
  align-items: center;
  justify-content: center;
}

.dw-title-graphic h2 {
  font-size: 1rem;
  align-items: center;
  justify-content: start;
  display: flex;
}

.dw-buttom-view {
  align-items: center;
  justify-content: flex-end;
  display: flex;
}


.analictics {
  width: 120px;
  height: 120px;
  border: 30px solid var(--bg-buttons);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dw-graphic-analictics {
  align-items: center;
  justify-content: center;
  display: flex;
}


.analictics p {
  font-size: 1rem;
  display: flex;
  margin: 0.1rem 0;
}

.analictics span {
  font-size: 1rem;
  font-weight: 700;
}

@media (max-width : 1284px) {

  html {
    font-size: 15px;
  }

  .img-user {
    width: 40px;
    height: 40px;
  }

  .aside-balance {
    grid-template-columns: repeat(2, 1fr);
  }

  .aside-graphic {
    grid-template-columns: 1fr;
  }

  .header-garphic {
    width: 100%;
    grid-template-columns: 1fr;
  }


  .aside-navbars {
    grid-template-columns: 1fr 2fr;
  }

  .button-month {
    width: 80%;
  }

}

@media (max-width : 1284px) and (orientation: landscape) {
  html {
    font-size: 15px;
  }
}



@media (max-width : 768px) {

  html {
    font-size: 15px;
  }

  .nav-menu {
    max-width: none;
    width: 0;
    overflow: hidden;
    transition: .2s;
  }

  .nav-menu-activo {
    width: 50vw;
    transition: .2s;
    background-color: #fff;
  }


  .nav-interface {
    width: 40vw;
  }

  .main-interface {
    margin-left: 0%;
    width: 100%;
  }

  .header {
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 1000;
    left: 0;
  }

  .face-header {
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 2fr 1fr;
  }

  .dw-user-header {
    display: none;
  }

  .dw-button-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .dw-button-add button {
    background: transparent;
  }

  .line {
    width: 20px;
    height: 4px;
    margin: 2px auto;
    transform-origin: center;
    background: #000;
  }

  .aside-navbars {
    padding-top: 6rem;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }

  .dw-add {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .add-button-add {
    width: 100%;
  }

  .aside-graphic {
    grid-template-columns: repeat(1, 1fr);
  }


}


@media (max-width : 600px) {

  html {
    font-size: 14px;
  }

  .header-garphic {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 0;
  }

  .second-dw-graphic {
    grid-template-columns: repeat(2, 1fr);
  }

  .dw-ponts-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .none-exibtion {
    display: none;
  }

  .first-dw-graphic {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .aside-navbars {
    grid-template-columns: 1fr;
  }

}